{
  "extends": [
    "@commitlint/config-conventional"
  ],
  "rules": {
    "type-enum": [
      "feat",
      "docs",
      "refactor",
      "style",
      "ui",
      "chore",
      "build",
      "fix",
      "revert"
    ]
  }
}
