@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  ::-webkit-scrollbar {
    width: 4px;
    &-thumb {
      @apply bg-blue-500;
      &:hover {
        @apply bg-blue-700;
      }
    }
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-gray-50 bg-opacity-50 dark:bg-gray-800;
    @apply font-primary #{!important};
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header {
    @apply font-header #{!important};
  }
  button:focus,
  a:focus {
    box-shadow: 0 0 0 2px theme('colors.blue.600');
    outline: none !important;
  }
}

@layer components {
  .content {
   
    @apply max-w-screen-lg md:max-w-screen-md mx-auto px-4;
  }
  @screen lg {
    .content {
      max-width: calc(theme('screens.md') + theme('spacing.10'));
    }
  }

  .icon-button {
    @apply hover:bg-gray-100 dark:hover:bg-gray-700 w-10 h-10 flex items-center justify-center rounded-md;
  }
  .input {
    @apply bg-white dark:bg-opacity-50 dark:bg-gray-800 dark:border-gray-600 py-2 my-2 px-4 rounded-md outline-none focus:ring-1 ring-blue-500 transition-all;
    &:focus {
      @apply bg-opacity-75 #{!important};
    }
  }
  .button {
    @apply bg-blue-500 text-white hover:bg-blue-600 active:bg-blue-700 p-2 my-2 cursor-pointer rounded-md;
  }
}
